.acc-holder {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 15%;
  left: 0;
  z-index: 1000;
  width: 70%;
  margin: 0 15%; }
  .acc-holder ul {
    list-style-type: none;
    color: white; }

body {
  background-color: #003366 !important;
  overflow-x: hidden;
  margin: 0;
  font-family: 'Roboto', sans-serif; }
  body .content-holder {
    width: 80%;
    margin: 0 10%; }
    body .content-holder .coin-holder {
      position: absolute;
      top: 60%;
      z-index: 1000;
      width: 100%; }
      body .content-holder .coin-holder .coinmarketcap-currency-widget {
        width: 50%;
        margin: 0 15%; }
        body .content-holder .coin-holder .coinmarketcap-currency-widget > div {
          background: rgba(0, 0, 0, 0.5);
          color: white;
          height: 200px;
          border: 2px solid #E4E6EB; }
          body .content-holder .coin-holder .coinmarketcap-currency-widget > div > div {
            line-height: 65px !important;
            width: 100% !important; }
            body .content-holder .coin-holder .coinmarketcap-currency-widget > div > div > div span:first-child {
              color: red; }
            body .content-holder .coin-holder .coinmarketcap-currency-widget > div > div > div br {
              content: ' '; }
    body .content-holder .navholder {
      background: rgba(0, 0, 0, 0.5);
      position: fixed;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      right: 0;
      top: 50px;
      color: white;
      z-index: 1000;
      width: 100%;
      text-align: right;
      overflow: hidden;
      padding: 10px 100px 10px 0; }
      body .content-holder .navholder .logoimg {
        float: left; }
      body .content-holder .navholder nav a {
        color: white;
        text-decoration: none;
        padding: 10px; }
  body footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    border-top: 1px solid white; }
    body footer p:last-child {
      font-size: 11px; }
